# ENVIRONMENT VARIABLES
*.env
.DS_Store
.DS_Store?
*.pem

# VSCODE
.vscode/
*.code-workspace

# BACKEND
backend/app/__pycache__
backend/venv/
__pycache__/


# FRONTEND
frontend/node_modules
frontend/.npm
frontend/.env.local
*.tsbuildinfo