@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Peridot';
  src: url('/assets/fonnts.com-Peridot_PE_Variable_Regular.9dc35a80c4c890eb209f.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Peridot', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
